<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
    <title>大数据集成</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
<script type="text/javascript" src="../static/js/home.js"></script>
<script src="../static/js/jquery.min.js"></script>
<script src="../static/js/echarts.min.js"></script>

<button id="getChart" onclick="getChart()">
   获取知识图谱
</button>



<div id="code" class="getCode">
    请输入想要获取的股票代码：
    <input id="code0" class="search_code" type="text">
    <button id="getCode0" onclick="getCodeInfo()">获取股票信息</button>
</div>

<div id="mainInfo" class="stockInfo1">
    <div class="title">
        公司名称：<!--赵航傻逼无限责任公司-->
    </div>
    <div class="title">
        股票代码：<!--123456-->
    </div>
    <div class="title">
        上市时间：<!--2020-07-01-->
    </div>
    <div class="title">
        实际控制人：<!--赵航-->
    </div>
    <div class="title">
        注册资本：<!--0万元-->
    </div>
</div>
<div id="mainAff" class="mainAffairs">
    <!--主营业务：负责沙雕的养成工作。-->
</div>
<div id="content-main" class="main-content" style="position: relative">
    <div class="stockInfo2" style="position:absolute;display: flex">
        <div class="titles">
        <div class="title0">
            板块：
        </div>
        <div class="title0">
            总股本：
        </div>
        <div class="title0">
            总流通股本：
        </div>
        <div class="title0">
            每股净资产：
        </div>
        <div class="title0">
            主营收入：
        </div>
        <div class="title0">
            净利润：
        </div>
        <div class="title0">
            发行价格：
        </div>
        <div class="title0">
            状态：
        </div>

    </div>
        <div id="otherInfos" class="content2">
            <div class="title0">

            </div>
            <div class="title0">

            </div>
            <div class="title0">

            </div>
            <div class="title0">

            </div>
            <div class="title0">

            </div>
            <div class="title0">

            </div>
            <div class="title0">

            </div>
            <div class="title0">

            </div>
        </div>
    </div>
    <div id="peopleList" class="stockInfo2" style="position:absolute;display: block;margin-left: 520px">
        高管列表
        <div class="peopleList" style="display: flex">
            <div class="people">

            </div>
            <div class="people">

            </div>
        </div>
        <div class="peopleList" style="display: flex">
            <div class="people">

            </div>
            <div class="people">

            </div>
        </div>
    </div>
    <div id="stockConnection" class="stockInfo2" style="position:absolute;display: block;margin-left: 1000px;height: 630px;width: 420px">
        持股控股饼状图
    </div>
    <div id="industryC" class="stockInfo2" style="position:absolute;display: block;margin-top: 230px">
        行业分类
        <br><br>
        证监会行业分类 :
        <br>
        全球行业分类 :
        <br>
        申万行业分类 :
    </div>
    <div id="level" class="stockInfo2" style="position:absolute;display: block;margin-top: 210px;margin-left: 520px">
        评级
        <br><br>
        综合评级 :
        <br>
        市盈率(TTM) :
        <br>
        市净率(MRQ) :
        <br>
        市现率(TTM) :
    </div>
    <div id="profitPerG" class="stockInfo2" style="position:absolute;display: block;margin-top: 380px;height: 280px">
        每股收益变化图
    </div>
    <div id="Money" class="stockInfo2" style="position:absolute;display: block;margin-top: 380px;height: 280px;margin-left: 520px">
        经营现金变化图
    </div>
    <div id="allMoney" class="stockInfo2" style="position:absolute;display: block;margin-top: 700px;height: 600px;width: 1380px">
        总资产变化图
    </div>
    <div id="allChange" class="stockInfo2" style="position:absolute;display: block;margin-top: 1340px;height: 600px;width: 1380px">
        交易所数据变化图
    </div>
</div>

<div id="chart" style="width: 100%;height: 2000px">

</div>

</body>
</html>
